<template>
  <div>
    <List @event="addDialog = true">
      <template slot="list">
        <transition name="scale-transition" mode="out-in">
          <div v-if="filtered.length !== 0" key="list">
            <ListItem v-for="(university, index) in filtered" :key="university.name">
              <v-icon slot="icon" size="42">mdi-school</v-icon>
              <template slot="content">
                <v-card-title class="headline px-0">{{ university.name }}</v-card-title>
                <v-card-subtitle class="px-0">{{ university.accessUrl }}</v-card-subtitle>
              </template>
              <template slot="actions">
                <v-btn color="error" depressed class="mx-2" @click="openDialog(university, index, 'delete')"
                  >Eliminar</v-btn
                >
                <v-btn color="warning" depressed class="mx-2" @click="openDialog(university, index, 'update')"
                  >Modificar</v-btn
                >
                <v-btn color="info" depressed class="mx-2" :to="`/university/${university.name}/users`">Reporte</v-btn>
              </template>
            </ListItem>
          </div>
          <no-data v-else key="no-data" :loading="loading" />
        </transition>
      </template>
    </List>
    <delete v-model="deleteDialog" type="Facultad" @confirm="deleteUniversity" />
    <update
      v-model="updateDialog"
      type="Facultad"
      :fields="fields"
      :item="{ ...selectedUniversity }"
      @confirm="updateUniversity"
    />
    <add v-model="addDialog" type="Facultad" :fields="fields" @confirm="createUniversity" />
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import University from "../../models/university";
import { getUniversities, updateUniversity, createUniversity, deleteUniversity } from "../../services/universities";
import { FilterMixin } from "../../mixins/filter";
import { NotificationMixin } from "../../mixins/notification";
import List from "../../components/List/List.vue";
import ListItem from "../../components/List/ListItem.vue";
import NoData from "../../components/List/NoData.vue";
import Delete from "../../components/Dialogs/Delete.vue";
import Update from "../../components/Dialogs/Update.vue";
import Add from "../../components/Dialogs/Add.vue";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    Delete,
    Update,
    Add
  }
})
export default class Universities extends Mixins(FilterMixin, NotificationMixin) {
  private deleteDialog = false;
  private updateDialog = false;
  private addDialog = false;
  private loading = true;
  private universities: University[] = [];
  private selectedUniversity = {};
  private selectedUniversityIndex = -1;
  private fields = [
    { type: "v-text-field", label: "Name", value: "name", disabled: { add: false, update: true }, required: true },
    {
      type: "v-text-field",
      label: "Access Url",
      value: "accessUrl",
      disabled: { add: false, update: false },
      required: true
    }
  ];

  private created() {
    this.getUniversities();
  }

  private async getUniversities() {
    try {
      const response = await getUniversities();
      this.universities = response;
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.loading = false;
    }
  }

  private async createUniversity(university: University) {
    try {
      const response = await createUniversity(university);
      this.filtered.unshift(response);
      this.addDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async updateUniversity(university: University) {
    try {
      await updateUniversity(university);
      this.filtered[this.selectedUniversityIndex] = university;
      this.updateDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async deleteUniversity() {
    try {
      await deleteUniversity(this.filtered[this.selectedUniversityIndex].name);
      this.filtered.splice(this.selectedUniversityIndex, 1);
      this.deleteDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private openDialog(university: University, index: number, dialogType: string) {
    dialogType == "update" ? (this.updateDialog = true) : (this.deleteDialog = true);
    this.selectedUniversity = university;
    this.selectedUniversityIndex = index;
  }

  private get filtered() {
    return this.filterData(this.universities);
  }
}
</script>
