<template>
  <List :showAdd="false">
    <template slot="list">
      <transition name="scale-transition" mode="out-in">
        <div v-if="filtered.length !== 0" key="list">
          <ListItem v-for="user in filtered" :key="user.id">
            <v-icon slot="icon" size="42">mdi-account</v-icon>
            <v-card-title slot="content" class="headline px-0">{{ user.name }}</v-card-title>
          </ListItem>
        </div>
        <no-data v-else key="no-data" :loading="loading" />
      </transition>
    </template>
  </List>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import User from "../../models/user";
import { getUniversityUsers } from "../../services/universities";
import { FilterMixin } from "../../mixins/filter";
import { NotificationMixin } from "../../mixins/notification";
import List from "../../components/List/List.vue";
import ListItem from "../../components/List/ListItem.vue";
import NoData from "../../components/List/NoData.vue";

@Component({
  components: {
    List,
    ListItem,
    NoData
  }
})
export default class UniversityUsers extends Mixins(FilterMixin, NotificationMixin) {
  private users: User[] = [];
  private loading = true;

  private created() {
    this.getUniversityUsers();
  }

  private async getUniversityUsers() {
    try {
      const response = await getUniversityUsers(this.$route.params.id);
      this.users = response;
    } catch (error) {
      this.success("Error", "Oops algo salio mal :(");
    } finally {
      this.loading = false;
    }
  }
  private get filtered(): Array<User> {
    return this.filterData(this.users);
  }
}
</script>
