<template functional>
  <v-card class="ma-5">
    <div class="d-flex flex-wrap">
      <v-avatar class="ma-3" size="72" tile color="#f0f0f0">
        <slot name="icon"></slot>
      </v-avatar>
      <div class="item__content px-2">
        <slot name="content"></slot>
      </div>
      <div class="pa-4 item__actions">
        <slot name="actions"></slot>
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component({})
export default class ListItem extends Vue {}
</script>

<style lang="scss" scoped>
.item__content {
  align-self: center;
}

.item__actions {
  margin-left: auto;
  align-self: center;
}
</style>
