<template>
  <v-card flat>
    <v-card-title>
      <v-text-field
        v-model="search"
        dense
        hide-details
        label="Buscar"
        prepend-inner-icon="mdi-magnify"
        filled
        rounded
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn color="success" dark depressed @click="$emit('event')" v-if="showAdd">
        <v-icon class="mr-1">mdi-plus-circle</v-icon>
        Agregar
      </v-btn>
    </v-card-title>
    <v-card-text>
      <slot name="list"></slot>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({})
export default class List extends Vue {
  @Prop({ default: true }) readonly showAdd!: boolean;
  private get search() {
    return this.$store.state.search;
  }

  private set search(value) {
    this.$store.commit("SET_SEARCH", value);
  }
}
</script>
