<template>
  <div>
    <List @event="addDialog = true">
      <template slot="list">
        <transition name="scale-transition" mode="out-in">
          <div v-if="filtered.length !== 0" key="list">
            <ListItem v-for="(course, index) in filtered" :key="course.id">
              <v-icon slot="icon" size="42">mdi-book-variant</v-icon>
              <template slot="content">
                <v-card-title class="headline px-0">{{ course.name }}</v-card-title>
                <v-card-subtitle class="px-1">{{ course.university }}</v-card-subtitle>
              </template>
              <template slot="actions">
                <v-btn color="error" depressed class="mx-2" @click="openDialog(course, index, 'delete')"
                  >Eliminar</v-btn
                >
                <v-btn color="warning" depressed class="mx-2" @click="openDialog(course, index, 'update')"
                  >Modificar</v-btn
                >
              </template>
            </ListItem>
          </div>
          <no-data v-else key="no-data" :loading="loading" />
        </transition>
      </template>
    </List>
    <delete v-model="deleteDialog" type="Curso" @confirm="deleteCourse" />
    <update
      v-model="updateDialog"
      type="Curso"
      :fields="fields"
      :item="{ ...selectedCourse }"
      @confirm="updateCourse"
    />
    <add v-model="addDialog" type="Curso" :fields="fields" @confirm="createCourse" />
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import Course from "../models/course";
import { getCourses, createCourse, updateCourse, deleteCourse } from "../services/courses";
import { getUniversities } from "../services/universities";
import { FilterMixin } from "../mixins/filter";
import { NotificationMixin } from "../mixins/notification";
import List from "../components/List/List.vue";
import ListItem from "../components/List/ListItem.vue";
import NoData from "../components/List/NoData.vue";
import Delete from "../components/Dialogs/Delete.vue";
import Update from "../components/Dialogs/Update.vue";
import Add from "../components/Dialogs/Add.vue";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    Delete,
    Update,
    Add
  }
})
export default class Courses extends Mixins(FilterMixin, NotificationMixin) {
  private deleteDialog = false;
  private updateDialog = false;
  private addDialog = false;
  private loading = true;
  private courses: Course[] = [];
  private selectedCourse = {};
  private selectedCourseIndex = -1;
  private fields = [
    {
      type: "v-select",
      label: "Facultad",
      value: "university",
      disabled: { add: false, update: true },
      required: true,
      items: []
    },
    { type: "v-text-field", label: "Name", value: "name", disabled: { add: false, update: false }, required: true }
  ];

  private created() {
    this.getCourses();
  }

  private async getCourses() {
    try {
      const response = await getCourses();
      this.courses = response;
      this.getUniversities();
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.loading = false;
    }
  }

  private async createCourse(course: Course) {
    try {
      const response = await createCourse(course);
      this.filtered.unshift(response);
      this.addDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }
  private async getUniversities() {
    const response = await getUniversities();
    this.$set(this.fields, 0, {
      type: "v-select",
      label: "Facultad",
      value: "university",
      disabled: {
        add: false,
        update: true
      },
      required: true,
      items: response.map(u => {
        return u.name;
      })
    });
  }

  private async updateCourse(course: Course) {
    try {
      await updateCourse(course);
      this.filtered[this.selectedCourseIndex] = course;
      this.updateDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async deleteCourse() {
    try {
      await deleteCourse(this.filtered[this.selectedCourseIndex].id as number);
      this.filtered.splice(this.selectedCourseIndex, 1);
      this.deleteDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private openDialog(course: Course, index: number, dialogType: string) {
    dialogType == "update" ? (this.updateDialog = true) : (this.deleteDialog = true);
    this.selectedCourse = course;
    this.selectedCourseIndex = index;
  }

  private get filtered(): Array<Course> {
    return this.filterData(this.courses);
  }
}
</script>
