<template>
  <div>
    <List @event="addDialog = true">
      <template slot="list">
        <transition name="scale-transition" mode="out-in">
          <div v-if="filtered.length !== 0" key="list">
            <ListItem v-for="(user, index) in filtered" :key="user.id">
              <v-icon slot="icon" size="42">mdi-account</v-icon>
              <template slot="content">
                <v-card-title class="headline px-0">{{ user.name }}</v-card-title>
                <v-card-subtitle class="px-1">{{ user.university }}</v-card-subtitle>
              </template>
              <template slot="actions">
                <v-btn color="error" depressed class="mx-2" @click="openDialog(user, index, 'delete')">Eliminar</v-btn>
                <v-btn color="warning" depressed class="mx-2" @click="openDialog(user, index, 'update')"
                  >Modificar</v-btn
                >
              </template>
            </ListItem>
          </div>
          <no-data v-else key="no-data" :loading="loading" />
        </transition>
      </template>
    </List>
    <delete v-model="deleteDialog" type="Usuario" @confirm="deleteUser" />
    <update v-model="updateDialog" type="Usuario" :fields="fields" :item="{ ...selectedUser }" @confirm="updateUser" />
    <add v-model="addDialog" type="Usuario" :fields="fields" @confirm="createUser" />
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-property-decorator";
import User from "../models/user";
import { getUsers, createUser, updateUser, deleteUser } from "../services/users";
import { getUniversities } from "../services/universities";
import { FilterMixin } from "../mixins/filter";
import { NotificationMixin } from "../mixins/notification";
import List from "../components/List/List.vue";
import ListItem from "../components/List/ListItem.vue";
import NoData from "../components/List/NoData.vue";
import Delete from "../components/Dialogs/Delete.vue";
import Update from "../components/Dialogs/Update.vue";
import Add from "../components/Dialogs/Add.vue";

@Component({
  components: {
    List,
    ListItem,
    NoData,
    Delete,
    Update,
    Add
  }
})
export default class Users extends Mixins(FilterMixin, NotificationMixin) {
  private deleteDialog = false;
  private updateDialog = false;
  private addDialog = false;
  private loading = true;
  private users: User[] = [];
  private selectedUser = {};
  private selectedUserIndex = -1;
  private fields = [
    {
      type: "v-select",
      label: "Facultad",
      value: "university",
      disabled: { add: false, update: true },
      required: true,
      items: []
    },
    { type: "v-text-field", label: "Name", value: "name", disabled: { add: false, update: false }, required: true }
  ];

  private created() {
    this.getUsers();
  }

  private async getUsers() {
    try {
      const response = await getUsers();
      this.users = response;
      this.getUniversities();
    } catch (error) {
      this.errorHandling(error);
    } finally {
      this.loading = false;
    }
  }
  private async getUniversities() {
    const response = await getUniversities();
    this.$set(this.fields, 0, {
      type: "v-select",
      label: "Facultad",
      value: "university",
      disabled: {
        add: false,
        update: true
      },
      required: true,
      items: response.map(u => {
        return u.name;
      })
    });
  }

  private async createUser(user: User) {
    try {
      const response = await createUser(user);
      this.filtered.unshift(response);
      this.addDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async updateUser(user: User) {
    try {
      await updateUser(user);
      this.filtered[this.selectedUserIndex] = user;
      this.updateDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private async deleteUser() {
    try {
      await deleteUser(this.filtered[this.selectedUserIndex].id as number);
      this.filtered.splice(this.selectedUserIndex, 1);
      this.deleteDialog = false;
    } catch (error) {
      this.errorHandling(error);
    }
  }

  private openDialog(user: User, index: number, dialogType: string) {
    dialogType == "update" ? (this.updateDialog = true) : (this.deleteDialog = true);
    this.selectedUser = user;
    this.selectedUserIndex = index;
  }

  private get filtered(): Array<User> {
    return this.filterData(this.users);
  }
}
</script>
