<template functional>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <v-img
        alt="Logo"
        class="mr-2"
        contain
        :src="require('./../assets/images/logo.png')"
        transition="scale-transition"
        width="72"
      />
    </div>

    <v-spacer></v-spacer>

    <v-btn text link to="/">
      <span class="mx-2">Facultades</span>
    </v-btn>
    <v-btn text link to="/users">
      <span class="mx-2">Usuarios</span>
    </v-btn>
    <v-btn text link to="/courses">
      <span class="mx-2">Cursos</span>
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Navbar extends Vue {}
</script>
