<template functional>
  <div class="not-found">
    <div class="text-center">
      <v-img
        alt="Not Found"
        class="mr-2"
        contain
        :src="require('./../../assets/images/404.svg')"
        transition="scale-transition"
        width="400"
      />
      <p class="not-found__title mb-0">Page Not Found</p>
      <v-btn color="primary" class="mt-5" dark to="/">Go Home</v-btn>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class NotFound extends Vue {}
</script>

<style lang="scss" scoped>
.not-found {
  display: grid;
  height: 100%;
  place-items: center;

  .not-found__title {
    letter-spacing: 1.5px;
    font-size: 42px;
    color: #6b6b6b;
    margin-top: 21px;
  }
}
</style>
