<template functional>
  <div class="server-error">
    <div class="text-center">
      <v-img
        alt="Server Error"
        class="mr-2"
        contain
        :src="require('./../../assets/images/server-error.svg')"
        transition="scale-transition"
        width="400"
      />
      <p class="server-error__title mb-0">Internal Server Error</p>
      <p class="server-error__subtitle">The server has been deserted for a while</p>
      <p class="server-error__subtitle">Please be patient or try again later</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class ServerError extends Vue {}
</script>

<style lang="scss" scoped>
.server-error {
  display: grid;
  height: 100%;
  place-items: center;

  .server-error__title {
    letter-spacing: 1.5px;
    font-size: 42px;
    color: #6b6b6b;
    margin-top: 21px;
  }

  .server-error__subtitle {
    font-size: 13px;
    color: #6b6b6b;
    margin: 0;
  }
}
</style>
