<template>
  <v-dialog v-if="value" :value="value" @input="close" width="400px" overlay-opacity="0.8" overlay-color="white">
    <v-card class="pt-4 add-dialog">
      <v-card-title class="add-dialog__title"> Agregar {{ type }} </v-card-title>
      <v-card-text class="pt-8 px-12 text-center">
        <v-form lazy-validation ref="add-form">
          <component
            v-for="field in fields"
            :is="field.type"
            :key="field.value"
            :label="field.label"
            v-model="newItem[field.value]"
            :rules="field.required ? [rules.required] : []"
            :items="field.items"
            :disabled="field.disabled.add"
            @keydown.enter="addItem"
          ></component>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark color="#09c78a" class="ml-1" depressed @click="addItem">
              Crear
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({})
export default class Add extends Vue {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: "" }) type!: string;
  @Prop({ default: [] }) fields!: Array<{
    type: string;
    label: string;
    value: string;
    disabled: boolean;
    required: boolean;
    items?: string[];
  }>;

  $refs!: {
    "add-form": HTMLFormElement;
  };
  private newItem = {};
  private rules = {
    required: (value: string) => !!value || "Este campo es obligatorio"
  };

  private close() {
    this.$emit("input");
  }

  private addItem() {
    if (this.$refs["add-form"].validate()) {
      this.$emit("confirm", this.newItem);
      this.newItem = {};
    }
  }
}
</script>

<style lang="scss" scoped>
.add-dialog {
  border-top: 5px solid #444fee;

  .add-dialog__title {
    justify-content: center;
    padding: 0;
  }
}
</style>
