<template>
  <v-dialog v-if="value" :value="value" @input="close" width="400px" overlay-opacity="0.8" overlay-color="white">
    <v-card class="pt-4 update-dialog">
      <v-card-title class="update-dialog__title"> Modificar {{ type }} </v-card-title>
      <v-card-text class="pt-8 px-12 text-center">
        <v-form lazy-validation ref="update-form">
          <component
            v-for="field in fields"
            :is="field.type"
            :key="field.value"
            :label="field.label"
            v-model="item[field.value]"
            :rules="field.required ? [rules.required] : []"
            :items="field.items"
            item-text="university"
            item-value="university"
            :disabled="field.disabled.update"
            @keydown.enter="saveItem"
          ></component>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row no-gutters>
          <v-col cols="12" class="text-end">
            <v-btn text class="mr-1" @click.native="close">Cerrar</v-btn>
            <v-btn dark color="#09c78a" class="ml-1" depressed @click.native="saveItem">
              Guardar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Course from "../../models/course";
import University from "../../models/university";
import User from "../../models/user";

@Component({})
export default class Update extends Vue {
  @Prop({ default: false }) value!: boolean;
  @Prop({ default: "" }) type!: string;
  @Prop({ default: [] }) fields!: Array<{
    label: string;
    value: string;
    disabled: { add: boolean; update: boolean };
    required: boolean;
    items?: University[];
  }>;
  @Prop({ default: {} }) item!: User | University | Course;

  $refs!: {
    "update-form": HTMLFormElement;
  };
  private rules = {
    required: (value: string) => !!value || "Este campo es obligatorio"
  };

  private saveItem() {
    if (this.$refs["update-form"].validate()) {
      this.$emit("confirm", this.item);
    }
  }

  private close() {
    this.$emit("input");
  }
}
</script>

<style lang="scss" scoped>
.update-dialog {
  border-top: 5px solid #444fee;

  .update-dialog__title {
    justify-content: center;
    padding: 0;
  }
}
</style>
